.profiletop{
    background-color: white;
    margin-bottom: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    overflow-x: clip;

}

.ed-button{
   position: relative;
   width: 5rem;
   height: 2rem;
   background-color: black;
   align-self: flex-end;
   top: 5px;
   right: 5px;
}

.ed-button:hover {
    border: 2px solid black;
    background-color: transparent;
    color: black;
}

.picture{
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coverpic{
    width: 100%;
    max-height: 400px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
}

.profilepic{
    width: 8.5rem;
    height: 8.5rem;
    border-radius: 50%;
    object-fit: cover;
    bottom: -3rem;
    border: 2px solid white;
    position: absolute;
    box-shadow: 22px 15px 52px 0px rgba(0, 0, 0, 0.61);
        -webkit-box-shadow: 22px 15px 52px 0px rgba(0, 0, 0, 0.61);
        -moz-box-shadow: 22px 15px 52px 0px rgba(0, 0, 0, 0.61);
}

.info{
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.batons{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.fc-button{
    width: 5rem;
    height: 2rem;
    background-color: rgb(192, 188, 188);
    
}

.fc-button:hover {
    border: 2px solid orange;
}

.folo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}